    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/productDetail.css" />
    <title><%= product.name %> </title>
</head>

<body>

<%- include('partials/header') %>

    <main>
        <section class="producto">
                <img class="imagen-producto" src="/images/<%= product.image %> " alt="<%= product.description %> ">
            <article class="estado-producto">
                <h2 class="nombre-producto"><%= product.name %></h2>
                <p class="disponiblidad">10 unidades disponibles</p>
                <p class="envio">Envío gratis<i class="fas fa-truck truck-icon"></i></p>
            </article>
        </section>
        <section class="caracteristicas">
            <article >
                <h1>Caracteristicas</h1>
                <p><%= product.description %></p>
                <!-- <p>-Idioma Del Teclado: Español</p>
                <p>-Ram Integrada: 16 gb</p>
                <p>-Color: Azul</p>
                <p>-Peso: 1.57 kg</p>
                <p>-Bluetooth: Si</p>
                <p>-Puertos Hdmi: 1</p>
                <P>Tipo De Gpu: Nvidia GeForce</P> -->
            </article>
            <article>
                <h1>Precio</h1>
                <p>$<%= product.price %></p>
            </article>
            <article>
                <h1>Descuento</h1>
                <p><%= product.discount %>%</p>
            </article>
        </section>
        <section class="botones">
            <a href="/<%= product.id %>/edit" class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/<%= product.id %>?_method=DELETE " method="POST">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
        </section>
    </main>
    
<%- include('partials/footer') %>
