<%-include('partials/head') %> 
    <link rel="stylesheet" href="/css/productForm.css">
    <title>Editá tu Productos</title>
</head>
<body>
    

    <div class="titulo">
        <h3>Editá tu producto</h3>
    </div>

    <div class="formulario">
        <form action="/<%= productToEdit.id %>?_method=PUT" method="POST">
                <div>
                    <label for="name">Nombre de Producto:</label> <br>
                    <input value="<%= productToEdit.name %>" type="text" id="name" name="name">

                </div>
               <div>
                <label for="price">Precio del producto:</label> <br>
                <input value="<%= productToEdit.price %>"type="text" id="price" name="price">
               </div>
                <!-- <div>
                    <label for="marca" >Unidades:</label> <br>
                    <input type="number" name="marca" id="marca">
                </div> -->
               
                <div>
                    <label for="description">Descipción:</label>
                    <textarea name="description" id="description"><%= productToEdit.description %></textarea>
                </div>
                <div class="boton">
                    <button class="boton" type="submit">Guardar</button>
                </div>
            </form>

        
    </div>

</body>
</html>