    <%- include('partials/head') %> 
    <link rel="stylesheet" href="/css/productDetail.css" />
    <link rel="stylesheet" href="/css/headerFooter.css" />
    <title><%= product.name %> </title>
</head>

<body>

<%- include('partials/header') %>

    <main class="estructura">
        <section class="productMain">
            <div class="image">
                <img src="/images/<%= product.images[0].name%> " alt="<%= product.description %> ">
            </div>
            <div class="name">
                <h1 class="productName"><%= product.name %> </h1>
                <p>$<%= (product.price - (product.discount * product.price) / 100 ) %> </p>
                <p>En 6 x $ <%= Math.round(product.price / 6) %> </p>
                <p class="subName">Stock disponible</p>
                <p class="subName">Envío gratis <i class="fas fa-truck truck-icon"></i></p>
                <button class="comprar" type="button">¡Comprar Ahora!</button>
                <div class="buttons">
                    <a href="/<%= product.id %>/edit"><button class="action-button">EDITAR</button></a>
                    <form action="/<%= product.id %>?_method=DELETE " method="POST">
                        <button type="submit" class="action-button">ELIMINAR</button>
                    </form>
                </div>
            </div>
        </section>

        <hr class="hr1">

        <section class="pagos">
            <div class="pago1">
                <div>
                    <h3 class="precio">$<%= (product.price - (product.discount * product.price) / 100 ) %></h3>
                    <p>Precio especial</p>
                </div>
                <div class="text">
                    <p>Abonando en Efectivo o Transferencia Bancaria</p>
                </div>
            </div >
            <hr class="hr2">
            <div class="pago2">
                <div >
                    <h3 class="precio">$<%= product.price %></h3>
                    <p>Precio normal</p>
                </div>
                <div class="text">
                    <p>Abonando en tarjeta de Débito o Crédio</p>
                </div>
            </div>
        </section>

        <hr class="hr1">

        <section class="caracteristicas">
            <div class="caracteristicasTitle">
                <h3>Caracerisicas</h3>
                <p><%= product.description %></p>
            </div>
            <div class="text">

            </div>
        </section>
      
    </main>
    
<%- include('partials/footer') %>
 