<%-include('partials/head') %>
    <link rel="stylesheet" href="/css/productForm.css">
    <title>Editá tu Productos</title>
    </head>

    <body>


        <div class="titulo">
            <h3>Editá tu producto</h3>
        </div>

        <div class="formulario">
            <form action="/<%= product.id %>?_method=PUT" method="POST" id="form">
                <div>
                    <label for="name">Nombre</label> <br>
                    <input value="<%= product.name %>" type="text" id="name" name="name">
                    <p class="error-message" id="error-name"></p>
                </div>
                <div>
                    <label for="price">Precio</label> <br>
                    <input value="<%= product.price %>" type="text" id="price" name="price">
                    <p class="error-message" id="error-price"></p>
                </div>

                <div>
                    <label for="description">Descripción</label>
                    <textarea name="description" id="description"><%= product.description %></textarea>
                    <p class="error-message" id="error-description"></p>
                </div>
                <div class="boton">
                    <button class="boton" type="submit">Guardar</button>
                </div>
            </form>


        </div>
        <script src='/js/productEditFormValidator.js'></script>
    </body>

    </html>